# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
*.egg

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
